# This is Git's per-user configuration file.
[user]
	name = Your Name
	email = your@email.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	gco = checkout
	co = checkout
	st = status
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	line-numbers = true
	side-by-side = false
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[credential]
	helper = store
