<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aiDefaultModel</key>
	<data>
	eyJhcHBsZUludGVsbGlnZW5jZSI6e319
	</data>
	<key>aiEnabled</key>
	<true/>
	<key>boundAppBundleIDs</key>
	<array>
		<string>com.mitchellh.ghostty</string>
	</array>
	<key>boundCustomCommandIDs</key>
	<array/>
	<key>boundCustomWindowSizeIDs</key>
	<array/>
	<key>boundQuickActionIDs</key>
	<array/>
	<key>boundQuicklinkIDs</key>
	<array/>
	<key>boundWindowLayoutIDs</key>
	<array/>
	<key>calendarEnabled</key>
	<true/>
	<key>calendarMenuBarDisplay</key>
	<integer>0</integer>
	<key>clipboardDisabledApps</key>
	<array>
		<string>com.apple.keychainaccess</string>
		<string>com.apple.Passwords</string>
		<string>com.1password.1password</string>
	</array>
	<key>clipboardTextSearchEnabled</key>
	<true/>
	<key>compactMode</key>
	<false/>
	<key>customCommands</key>
	<data>
	W3siY29tbWFuZCI6ImNvZGUgJDEiLCJyZXF1aXJlc0NvbmZpcm1hdGlvbiI6ZmFsc2Us
	ImlkIjoiNUVCMTM4NDYtNDIwMS00ODUwLUEzOTYtNUNCNTFBQzg4ODU1IiwibmFtZSI6
	Ik9wZW4gaW4gVlNDT0RFIiwic2hvd3NPdXRwdXQiOmZhbHNlLCJhcmd1bWVudHMiOltd
	LCJzaG93c0NvbmZpcm1hdGlvbiI6ZmFsc2UsImljb25TeW1ib2wiOiJoYW1tZXIiLCJp
	c0VuYWJsZWQiOnRydWUsImxvYWRzU2hlbGxFbnZpcm9ubWVudCI6dHJ1ZX1d
	</data>
	<key>customCommandsEnabled</key>
	<true/>
	<key>emojiSkinTone</key>
	<string>none</string>
	<key>extensionRegistries</key>
	<data>
	W3sibmFtZSI6IlJheWNhc3QgU3RvcmUiLCJwYXRoIjoiZXh0ZW5zaW9ucyIsImtpbmQi
	OiJyYXljYXN0U3RvcmUiLCJpZCI6IjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAw
	MDAwMDAwMSIsIm93bmVyIjoiIiwicmVwb3NpdG9yeSI6IiIsInJlZiI6Im1haW4iLCJp
	c0VuYWJsZWQiOnRydWV9LHsibmFtZSI6InJheWNhc3RcL2V4dGVuc2lvbnMiLCJwYXRo
	IjoiZXh0ZW5zaW9ucyIsImtpbmQiOiJnaXRodWIiLCJpZCI6IjAwMDAwMDAwLTAwMDAt
	MDAwMC0wMDAwLTAwMDAwMDAwMDAwMiIsIm93bmVyIjoicmF5Y2FzdCIsInJlcG9zaXRv
	cnkiOiJleHRlbnNpb25zIiwicmVmIjoibWFpbiIsImlzRW5hYmxlZCI6dHJ1ZX1d
	</data>
	<key>extensionsEnabled</key>
	<true/>
	<key>hotkey.app.com.mitchellh.ghostty</key>
	<string>{"combo":{"_0":{"carbonModifiers":4096,"carbonKeyCode":42}}}</string>
	<key>hotkey.command:search-emoji</key>
	<string>{"combo":{"_0":{"carbonKeyCode":14,"carbonModifiers":768}}}</string>
	<key>hotkey.togglePalette</key>
	<string>{"combo":{"_0":{"carbonModifiers":2048,"carbonKeyCode":49}}}</string>
	<key>hyperKeyIncludesShift</key>
	<true/>
	<key>hyperKeyPhysicalKey</key>
	<string>capsLock</string>
	<key>launcherAliases</key>
	<dict>
		<key>com.microsoft.VSCode</key>
		<string>code</string>
		<key>com.mitchellh.ghostty</key>
		<string>orca</string>
		<key>command:fix-grammar</key>
		<string>fix</string>
		<key>dev.kdrag0n.MacVirt</key>
		<string>docker</string>
	</dict>
	<key>popToRootTimeout</key>
	<integer>90</integer>
	<key>quickActionModel</key>
	<data>
	eyJhcHBsZUludGVsbGlnZW5jZSI6e319
	</data>
	<key>quickActionsEnabled</key>
	<true/>
	<key>quicklinksEnabled</key>
	<true/>
	<key>showFavoritesInCompactMode</key>
	<true/>
	<key>showInMenuBar</key>
	<true/>
	<key>snippetsEnabled</key>
	<true/>
</dict>
</plist>
